* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.course-list {
    display: flex;
    gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.course-item {
    padding: 1em;
    font-size: 2em;
    background-color: whitesmoke;
    margin: 1em;
    border-top: 0.5em solid #0096828a;
}

.course-item:first-child {
    border-top: 0.5em solid #009681;
}

